In [1]:
# Assign a single color to test
color <- "green"  # try changing this to "blue", "red", "yellow" etc.

# Classification using if/else chain
if (color == "green") {
  print("Jedi Consular")
} else if (color == "blue") {
  print("Jedi Guardian")
} else if (color == "purple") {
  print("Unique Balance")
} else if (color == "red") {
  print("Sith Lord")
} else {
  print("Rare Occurrence")
}

[1] "Jedi Consular"

In [2]:
# Vector of colors for multiple characters
colors <- c("green", "blue", "red", "yellow", "blue", "red", 
            "purple", "green", "red", "blue", "red", "blue")

# Vectorized classification using ifelse
roles <- ifelse(colors == "green", "Jedi Consular",
         ifelse(colors == "blue", "Jedi Guardian",
         ifelse(colors == "purple", "Unique Balance",
         ifelse(colors == "red", "Sith Lord", "Rare Occurrence"))))

# Print the roles vector
print(roles)

 [1] "Jedi Consular"   "Jedi Guardian"   "Sith Lord"       "Rare Occurrence"
 [5] "Jedi Guardian"   "Sith Lord"       "Unique Balance"  "Jedi Consular"
 [9] "Sith Lord"       "Jedi Guardian"   "Sith Lord"       "Jedi Guardian"

In [3]:
# if / else if / else:
# Used for scalar (single) logical checks.
# Runs one block of code depending on the first TRUE condition.
# Good for control flow or when classifying single values.

# ifelse():
# Evaluates a condition for each element in a vector and returns a vector of results.
# More concise and efficient when working with large datasets.
# Cannot execute multiple lines of code per condition — only returns values.

ERROR: Error in parse(text = x, srcfile = src): <text>:1:2: unexpected '['
1:  [
     ^

In [4]:
# Read the dataset
myDF <- read.csv("/anvil/projects/tdm/data/social_media_addiction/social_media.csv")

# Check the dimensions (rows x columns)
dim(myDF)

# View the first few rows
head(myDF)

# Find the longest recorded sleep time
max_sleep <- max(myDF$Sleep_Hours_Per_Night, na.rm = TRUE)
print(max_sleep)

# Find the longest recorded social media time
max_social <- max(myDF$Avg_Daily_Usage_Hours, na.rm = TRUE)
print(max_social)

[1] 705  13

  Student_ID Age Gender Academic_Level Country    Avg_Daily_Usage_Hours
1 1          19  Female Undergraduate  Bangladesh 5.2
2 2          22  Male   Graduate       India      2.1
3 3          20  Female Undergraduate  USA        6.0
4 4          18  Male   High School    UK         3.0
5 5          21  Male   Graduate       Canada     4.5
6 6          19  Female Undergraduate  Australia  7.2
  Most_Used_Platform Affects_Academic_Performance Sleep_Hours_Per_Night
1 Instagram          Yes                          6.5
2 Twitter            No                           7.5
3 TikTok             Yes                          5.0
4 YouTube            No                           7.0
5 Facebook           Yes                          6.0
6 Instagram          Yes                          4.5
  Mental_Health_Score Relationship_Status Conflicts_Over_Social_Media
1 6                   In Relationship     3
2 8                   Single              0
3 5                   Complicated         4
4 7                   Single              1
5 6                   In Relationship     2
6 4                   Complicated         5
  Addicted_Score
1 8
2 3
3 9
4 4
5 7
6 9

[1] 9.6
[1] 8.5

In [5]:
# Create Status column with nested ifelse
myDF$Status <- ifelse(myDF$Avg_Daily_Usage_Hours > myDF$Sleep_Hours_Per_Night, "Zombie",
               ifelse(myDF$Avg_Daily_Usage_Hours == myDF$Sleep_Hours_Per_Night, "Doom Scroll",
                      "Thriving"))

# Check the head of the dataframe to see the new column
head(myDF[, c("Sleep_Hours_Per_Night", "Avg_Daily_Usage_Hours", "Status")])

# Use table to count how many students fall into each Status category
table(myDF$Status)

  Sleep_Hours_Per_Night Avg_Daily_Usage_Hours Status
1 6.5                   5.2                   Thriving
2 7.5                   2.1                   Thriving
3 5.0                   6.0                   Zombie
4 7.0                   3.0                   Thriving
5 6.0                   4.5                   Thriving
6 4.5                   7.2                   Zombie

Doom Scroll    Thriving      Zombie
         22         536         147

In [8]:
# longest sleep = 10 hrs and longest social media is 8.5 hours

In [7]:
# The most common habit ratio among students is typically “Thriving” (where sleep hours > social media hours).

In [9]:
# Initialize screen_time
screen_time <- 10

# While loop to print and decrease screen_time
while (screen_time > 2) {
  print(paste("Screen time:", screen_time, "hours"))
  screen_time <- screen_time - 1
}

[1] "Screen time: 10 hours"
[1] "Screen time: 9 hours"
[1] "Screen time: 8 hours"
[1] "Screen time: 7 hours"
[1] "Screen time: 6 hours"
[1] "Screen time: 5 hours"
[1] "Screen time: 4 hours"
[1] "Screen time: 3 hours"

In [11]:
# Initialize sleep_time
sleep_time <- 2

# While loop to print and increase sleep_time
while (sleep_time < 10) {
  print(paste("Sleep time:", sleep_time, "hours"))
  sleep_time <- sleep_time + 1
}

[1] "Sleep time: 2 hours"
[1] "Sleep time: 3 hours"
[1] "Sleep time: 4 hours"
[1] "Sleep time: 5 hours"
[1] "Sleep time: 6 hours"
[1] "Sleep time: 7 hours"
[1] "Sleep time: 8 hours"
[1] "Sleep time: 9 hours"

In [ ]:
# print paste: Returns the value and shows [1] because it prints the character vector returned by paste().
# Prints text directly to the console, no [1].

In [12]:
# Reset variables
screen_time <- 10
sleep_time <- 2

# Loop while screen_time is greater than 2
while (screen_time > 2) {
  cat("Screen time:", screen_time, "hours | Sleep time:", sleep_time, "hours\n")
  screen_time <- screen_time - 0.5
  sleep_time <- sleep_time + 0.5
}

Screen time: 10 hours | Sleep time: 2 hours
Screen time: 9.5 hours | Sleep time: 2.5 hours
Screen time: 9 hours | Sleep time: 3 hours
Screen time: 8.5 hours | Sleep time: 3.5 hours
Screen time: 8 hours | Sleep time: 4 hours
Screen time: 7.5 hours | Sleep time: 4.5 hours
Screen time: 7 hours | Sleep time: 5 hours
Screen time: 6.5 hours | Sleep time: 5.5 hours
Screen time: 6 hours | Sleep time: 6 hours
Screen time: 5.5 hours | Sleep time: 6.5 hours
Screen time: 5 hours | Sleep time: 7 hours
Screen time: 4.5 hours | Sleep time: 7.5 hours
Screen time: 4 hours | Sleep time: 8 hours
Screen time: 3.5 hours | Sleep time: 8.5 hours
Screen time: 3 hours | Sleep time: 9 hours
Screen time: 2.5 hours | Sleep time: 9.5 hours

In [13]:
# Read the Star Wars characters dataset
characters <- read.csv("/anvil/projects/tdm/data/starwars/characters.csv")

# Check structure (optional)
head(characters)

  id name           species        gender height weight hair_color eye_color
1 1  Luke Skywalker Human          Male   1.72    77    Blond      Blue
2 2  Leia Organa    Human          Female 1.50    49    Brown      Brown
3 3  Darth Vader    Human          Male   2.02   136    None       Yellow
4 4  Yoda           Yoda's species Male   0.66    17    White      Brown
5 5  Han Solo       Human          Male   1.80    80    Brown      Hazel
6 6  Chewbacca      Wookiee        Male   2.28   112    Brown      Blue
  skin_color year_born homeworld year_died
1 Light       19       Tatooine  34
2 Light       19       Alderaan  35
3 Pale        41       Tatooine   4
4 Green      896       Unknown    4
5 Light       29       Corellia  34
6 Brown      200       Kashyyyk  NA
  description
1 The main protagonist of the original trilogy.
2 A leader in the Rebel Alliance and twin sister of Luke Skywalker.
3 The Sith Lord formerly known as Anakin Skywalker.
4 A wise and powerful Jedi Master.
5 A smuggler turned hero in the Rebel Alliance.
6 A loyal Wookiee and co-pilot of the Millennium Falcon.

In [14]:
# Initialize loop counters
i <- 1
char_count <- 0
non_human_count <- 0

# While loop for first 20 characters
while (char_count < 20) {
  if (characters$species[i] == "Human") {
    cat(char_count + 1, "- This is a human\n")
  } else {
    print("This is not a human")
    non_human_count <- non_human_count + 1
  }
  
  i <- i + 1
  char_count <- char_count + 1
}

# Print total non-human count
cat("Total non-humans among the first 20 characters:", non_human_count, "\n")

1 - This is a human
2 - This is a human
3 - This is a human
[1] "This is not a human"
5 - This is a human
[1] "This is not a human"
7 - This is a human
8 - This is a human
9 - This is a human
10 - This is a human
11 - This is a human
12 - This is a human
[1] "This is not a human"
14 - This is a human
15 - This is a human
16 - This is a human
17 - This is a human
18 - This is a human
[1] "This is not a human"
[1] "This is not a human"
Total non-humans among the first 20 characters: 5

In [15]:
# Take the first 20 species values
first20_species <- characters$species[1:20]

# Count non-humans
non_humans_vectorized <- sum(first20_species != "Human")
non_humans_vectorized

[1] 5

In [16]:
# Define vector
my_vec <- c(1, 4, 5, 2, 8, 4, 6, 3, 9, 3, 2, 2, 4, 1)

# Initialize counters
i <- 1
total_count <- 0

# Repeat loop
repeat {
  my_score <- my_vec[i]
  cat(total_count, "+", my_score, "= ")
  total_count <- total_count + my_score
  cat(total_count, "\n")
  
  if (total_count > 40) {
    print("You win!!!!!!")
    break
  }
  
  i <- i + 1
}

0 + 1 = 1
1 + 4 = 5
5 + 5 = 10
10 + 2 = 12
12 + 8 = 20
20 + 4 = 24
24 + 6 = 30
30 + 3 = 33
33 + 9 = 42
[1] "You win!!!!!!"

In [17]:
# Read Social Media dataset (if not already loaded)
myDF <- read.csv("/anvil/projects/tdm/data/social_media_addiction/social_media.csv")

# Initialize counters
i <- 1
total_count <- 0

# Repeat loop: add up mental health scores until total >= 100
repeat {
  student_score <- myDF$Mental_Health_Score[i]
  cat("Mental health of student", i, "is", student_score, "\n")
  cat("Current total mental health score is", total_count, "\n\n")
  
  total_count <- total_count + student_score
  
  if (total_count >= 100) {
    print("ALLL DONEEEEE")
    break
  }
  
  i <- i + 1
}

Mental health of student 1 is 6
Current total mental health score is 0

Mental health of student 2 is 8
Current total mental health score is 6

Mental health of student 3 is 5
Current total mental health score is 14

Mental health of student 4 is 7
Current total mental health score is 19

Mental health of student 5 is 6
Current total mental health score is 26

Mental health of student 6 is 4
Current total mental health score is 32

Mental health of student 7 is 9
Current total mental health score is 36

Mental health of student 8 is 6
Current total mental health score is 45

Mental health of student 9 is 7
Current total mental health score is 51

Mental health of student 10 is 7
Current total mental health score is 58

Mental health of student 11 is 5
Current total mental health score is 65

Mental health of student 12 is 6
Current total mental health score is 70

Mental health of student 13 is 8
Current total mental health score is 76

Mental health of student 14 is 5
Current total mental health score is 84

Mental health of student 15 is 7
Current total mental health score is 89

Mental health of student 16 is 6
Current total mental health score is 96

[1] "ALLL DONEEEEE"

In [18]:
# Read Social Media dataset (if not already loaded)
myDF <- read.csv("/anvil/projects/tdm/data/social_media_addiction/social_media.csv")

# Initialize counters
i <- 1
total_count <- 0

# Repeat loop: add up mental health scores until total >= 100
repeat {
  student_score <- myDF$Mental_Health_Score[i]
  cat("Mental health of student", i, "is", student_score, "\n")
  cat("Current total mental health score is", total_count, "\n\n")
  
  total_count <- total_count + student_score
  
  if (total_count >= 100) {
    print("ALLL DONEEEEE")
    break
  }
  
  i <- i + 1
}

Mental health of student 1 is 6
Current total mental health score is 0

Mental health of student 2 is 8
Current total mental health score is 6

Mental health of student 3 is 5
Current total mental health score is 14

Mental health of student 4 is 7
Current total mental health score is 19

Mental health of student 5 is 6
Current total mental health score is 26

Mental health of student 6 is 4
Current total mental health score is 32

Mental health of student 7 is 9
Current total mental health score is 36

Mental health of student 8 is 6
Current total mental health score is 45

Mental health of student 9 is 7
Current total mental health score is 51

Mental health of student 10 is 7
Current total mental health score is 58

Mental health of student 11 is 5
Current total mental health score is 65

Mental health of student 12 is 6
Current total mental health score is 70

Mental health of student 13 is 8
Current total mental health score is 76

Mental health of student 14 is 5
Current total mental health score is 84

Mental health of student 15 is 7
Current total mental health score is 89

Mental health of student 16 is 6
Current total mental health score is 96

[1] "ALLL DONEEEEE"

In [ ]:
# While loop: Checks the condition at the beginning of each iteration. If FALSE, the loop never runs.
# Repeat loop: Has no initial condition - always runs at least once.