In [2]:
library(data.table)
myDF <- fread("/anvil/projects/tdm/data/election/itcont1980.txt", quote="")
names(myDF) <- c("CMTE_ID", "AMNDT_IND", "RPT_TP", "TRANSACTION_PGI", "IMAGE_NUM", "TRANSACTION_TP", "ENTITY_TP", "NAME", "CITY", "STATE", "ZIP_CODE", "EMPLOYER", "OCCUPATION", "TRANSACTION_DT", "TRANSACTION_AMT", "OTHER_ID", "TRAN_ID", "FILE_NUM", "MEMO_CD", "MEMO_TEXT", "SUB_ID")

In [4]:
tapply(myDF$TRANSACTION_AMT, myDF$STATE, sum)

               01       AK       AL       AR       AS       AZ       BE
17916669     1550   531485  2596149   954867     1500  2178217      750
      CA       CO       CT       CZ       DC       DE       EL       FL
24085171  2708667  5328197      950  5689543   595008     1000 10514203
      GA       GU       HI       IA       ID       IL       IN       KS
 4201705    29835   610401  1279935   543468  9105545  2518579  2230356
      KY       LA       MA       MD       ME       MI       MN       MO
 1536043  4394374  4233203  2660154   311825  4585088  2454049  3211817
      MS       MT       NC       ND       NE       NH       NJ       NM
 1147941   288802  1644856   119115   508252   861868  4489040   668358
      NV       NY       OH       OK       OR       PA       PR       RI
 1490702 18673301  7237330  5047135  1093271  5705339   385311   495636
      SC       SD       TN       TU       TX       UT       VA       VI
 1371766   295014  3043735      250 24472610   681255  2830422    75350
      VT       WA       WI       WV       WY       ZZ
  207943  1872939  1342009   414924   504073   302079

In [6]:
video_games <- read.csv("/anvil/projects/tdm/data/grouping/vgchartz-2024.csv")

In [7]:
# Average Critic Score by Genre
avg_critic <- tapply(video_games$critic_score, video_games$genre, mean, na.rm = TRUE)

In [8]:
# View all genres with their average critic scores
avg_critic

          Action Action-Adventure        Adventure       Board Game
        6.831008         7.678378         7.341058         5.300000
       Education         Fighting              MMO             Misc
        7.750000         7.392424         7.781818         6.884593
           Music            Party         Platform           Puzzle
        7.992593         5.968750         7.307638         7.201049
          Racing     Role-Playing          Sandbox          Shooter
        7.187524         7.470920         9.200000         7.276800
      Simulation           Sports         Strategy     Visual Novel
        6.914719         7.291027         7.431733         8.500000

In [9]:
# What genre has the highest score 
highest_avg_critic <- avg_critic[which.max(avg_critic)]
highest_avg_critic

Sandbox
    9.2

In [ ]:
# The video game genre that had the highest average critic score is sandbox

In [10]:
# Find the sum of total sales by console
sales_by_console <- tapply(video_games$total_sales, video_games$console, sum, na.rm = TRUE)

In [11]:
# Sort the results in decreasing order
sales_sorted <- sort(sales_by_console, decreasing = TRUE)

In [12]:
sales_sorted[1]

    PS2
1027.76

In [ ]:
# The PS2 has the highest number of total sales among consoles

In [ ]:
# The tapply function applies a calculation to parts of a dataset that are split into different groups. It can find the average critic score for each video game genre or the total sales for each console. This function makes grouping data fast and keeps the code shorter

In [14]:
library(dplyr)
avg_scores <- video_games %>%
group_by(genre) %>%
summarize(avg_critic_score = mean(critic_score, na.rm =TRUE)) %>%
arrange(desc(avg_critic_score))

Attaching package: 'dplyr'


The following objects are masked from 'package:data.table':

    between, first, last


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [16]:
library(dplyr)

# calculate both average critic score and number of games per genre
genre_summary <- video_games %>%
group_by(genre) %>%
summarize(
    avg_critic_score = mean(critic_score, na.rm = TRUE),
    num_games = n()
    ) %>%
arrange(desc(avg_critic_score))
genre_summary

   genre            avg_critic_score num_games
1  Sandbox          9.200000           20
2  Visual Novel     8.500000          493
3  Music            7.992593          297
4  MMO              7.781818          115
5  Education        7.750000           35
6  Action-Adventure 7.678378         1877
7  Role-Playing     7.470920         5721
8  Strategy         7.431733         3685
9  Fighting         7.392424         2367
10 Adventure        7.341058         6260
11 Platform         7.307638         4001
12 Sports           7.291027         5586
13 Shooter          7.276800         5410
14 Puzzle           7.201049         3521
15 Racing           7.187524         3425
16 Simulation       6.914719         3158
17 Misc             6.884593         9304
18 Action           6.831008         8557
19 Party            5.968750          151
20 Board Game       5.300000           33

In [ ]:
# I prefer to use dplyer because it is easier to read. The pipe %>% clearly shows each step of grouping, summarizing, and storing.

In [17]:
library(dplyr)
# Group by console and sum of total sales
console_sales <- video_games %>%
group_by(console) %>%
summarize(total_sales = sum(total_sales, na.rm = TRUE)) %>%
arrange(desc(total_sales))

# View the top 20 consoles
head(console_sales, n=20)

# Console with the most sales
top_console <- console_sales$console[1]
top_console

   console total_sales
1  PS2     1027.76
2  X360     859.79
3  PS3      839.70
4  PS       546.25
5  PS4      539.92
6  Wii      459.44
7  DS       458.17
8  XOne     268.96
9  PSP      245.29
10 XB       232.05
11 GBA      224.48
12 PC       168.99
13 GC       119.53
14 3DS       99.27
15 N64       93.79
16 2600      75.66
17 SNES      65.71
18 PSV       63.02
19 NES       47.93
20 NS        36.46

[1] "PS2"

In [18]:
# Count number of games per genre
genre_title_counts <- video_games %>%
summarize(total_titles = n()) %>%
arrange(total_titles)

# View the genre with number of titles 
head(genre_title_counts, n = 1)

# Save the genre with the least titles 
least_genre <- genre_title_counts$genre[1]
least_genre

  total_titles
1 64016

NULL

In [21]:
# Total sales per genre and console
genre_console_sales <- video_games %>%
  group_by(genre, console) %>%
  summarize(total_sales = sum(total_sales, na.rm = TRUE)) %>%
  arrange(desc(total_sales))

# View the top 20 combos
head(genre_console_sales, n = 20)genre_console_sales <- video_games %>%
  group_by(genre, console) %>%
  summarize(total_sales = sum(total_sales, na.rm = TRUE)) %>%
  arrange(desc(total_sales))

head(genre_console_sales, n = 20)

`summarise()` has grouped output by 'genre'. You can override using the
`.groups` argument.

   genre      console total_sales
1  Sports     PS2     266.38
2  Shooter    X360    231.35
3  Action     PS3     191.66
4  Shooter    PS3     189.53
5  Action     PS2     171.01
6  Action     X360    161.90
7  Sports     PS3     153.41
8  Shooter    PS4     144.95
9  Sports     X360    141.09
10 Racing     PS2     129.79
11 Misc       Wii     122.52
12 Sports     PS      115.91
13 Sports     PS4     108.84
14 Shooter    PS2     104.20
15 Action     PS4      92.41
16 Sports     Wii      92.15
17 Shooter    XOne     90.32
18 Simulation DS       89.04
19 Misc       PS2      87.56
20 Action     PS       78.44

In [22]:
genre_console_sales <- video_games %>%
  group_by(genre, console) %>%
  summarize(total_sales = sum(total_sales, na.rm = TRUE)) %>%
  arrange(desc(total_sales))

head(genre_console_sales, n = 20)

`summarise()` has grouped output by 'genre'. You can override using the
`.groups` argument.

   genre      console total_sales
1  Sports     PS2     266.38
2  Shooter    X360    231.35
3  Action     PS3     191.66
4  Shooter    PS3     189.53
5  Action     PS2     171.01
6  Action     X360    161.90
7  Sports     PS3     153.41
8  Shooter    PS4     144.95
9  Sports     X360    141.09
10 Racing     PS2     129.79
11 Misc       Wii     122.52
12 Sports     PS      115.91
13 Sports     PS4     108.84
14 Shooter    PS2     104.20
15 Action     PS4      92.41
16 Sports     Wii      92.15
17 Shooter    XOne     90.32
18 Simulation DS       89.04
19 Misc       PS2      87.56
20 Action     PS       78.44

In [23]:
# Load the dataset
app_store <- read.csv("/anvil/projects/tdm/data/grouping/googleplaystore.csv")

In [24]:
# Check the columns
head(app_store[, c("Rating", "Reviews")])

  Rating Reviews
1 4.1    159
2 3.9    967
3 4.7    87510
4 4.5    215644
5 4.3    967
6 4.4    167

In [25]:
# Remove the commas 
app_store$Clean_Reviews <- gsub(",", "", app_store$Reviews)

# Convert to numeric
app_store$Numeric_Reviews <- as.numeric(app_store$Clean_Reviews)

# Check for problematic values
app_store[is.na(app_store$Numeric_Reviews) & !is.na(app_store$Reviews), "Reviews"]

Warning message:
"NAs introduced by coercion"

[1] "3.0M"

In [28]:
# Load dplyr for data manipulation
library(dplyr)

# Read in the Google Play Store dataset
app_store <- read.csv('/anvil/projects/tdm/data/grouping/googleplaystore.csv')

# Create Numeric_Reviews using basic R (for reference)
app_store$Clean_Reviews <- gsub(",", "", app_store$Reviews)
app_store$Numeric_Reviews <- as.numeric(app_store$Clean_Reviews)

# Check for problematic values
problem_values <- app_store[is.na(app_store$Numeric_Reviews) & !is.na(app_store$Reviews), "Reviews"]
problem_values  # Should show "3.0M"

# Clean the dataset using dplyr, remove problematic rows, and create numeric column
app_store_cleaned <- app_store %>%
  mutate(
    Clean_Reviews = gsub(",", "", Reviews),
    Numeric_Reviews = suppressWarnings(as.numeric(Clean_Reviews))  # suppress warnings from coercion
  ) %>%
  filter(!is.na(Numeric_Reviews))  # remove problematic "3.0M" value

# Verify no problematic values remain
app_store_cleaned %>%
  filter(is.na(Numeric_Reviews) & !is.na(Reviews)) %>%
  select(Reviews)  # Should return zero rows

# Create rating_per_review column
app_store_cleaned <- app_store_cleaned %>%
  mutate(
    rating_per_review = Rating / Numeric_Reviews
  )

# View the first few values of rating_per_review
head(app_store_cleaned$rating_per_review)

Warning message:
"NAs introduced by coercion"

[1] "3.0M"

     Reviews

[1] 2.578616e-02 4.033092e-03 5.370815e-05 2.086773e-05 4.446743e-03
[6] 2.634731e-02

In [29]:
library(dplyr)

app_store_cleaned <- app_store_cleaned %>%
  mutate(
    rating_per_review = Rating / Numeric_Reviews
  )

In [30]:
head(app_store_cleaned$rating_per_review)

[1] 2.578616e-02 4.033092e-03 5.370815e-05 2.086773e-05 4.446743e-03
[6] 2.634731e-02

In [31]:
# Use sapply to get class of each column
column_classes_sapply <- sapply(app_store_cleaned, class)
column_classes_sapply

              App          Category            Rating           Reviews
      "character"       "character"         "numeric"       "character"
             Size          Installs              Type             Price
      "character"       "character"       "character"       "character"
   Content.Rating            Genres      Last.Updated       Current.Ver
      "character"       "character"       "character"       "character"
      Android.Ver     Clean_Reviews   Numeric_Reviews rating_per_review
      "character"       "character"         "numeric"         "numeric"

In [32]:
# Number of characters using lapply (returns a list)
char_count_lapply <- lapply(app_store_cleaned$Content.Rating, nchar)
head(char_count_lapply, n = 30)

[[1]]
[1] 8

[[2]]
[1] 8

[[3]]
[1] 8

[[4]]
[1] 4

[[5]]
[1] 8

[[6]]
[1] 8

[[7]]
[1] 8

[[8]]
[1] 8

[[9]]
[1] 8

[[10]]
[1] 8

[[11]]
[1] 8

[[12]]
[1] 8

[[13]]
[1] 4

[[14]]
[1] 8

[[15]]
[1] 8

[[16]]
[1] 8

[[17]]
[1] 8

[[18]]
[1] 8

[[19]]
[1] 8

[[20]]
[1] 8

[[21]]
[1] 8

[[22]]
[1] 8

[[23]]
[1] 12

[[24]]
[1] 8

[[25]]
[1] 8

[[26]]
[1] 8

[[27]]
[1] 8

[[28]]
[1] 8

[[29]]
[1] 8

[[30]]
[1] 8

In [ ]:
# The appple() function is used to apply a function to the rows or columns of a dataframe. It is helpful when performing calculations on every row or column without needing to write a loop. This makes it easier to calculate things like row sums, means, or other summary items